<a href="https://colab.research.google.com/github/SiyandzaD/analysehackathon/blob/master/Zindi_hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

#df = pd.read_csv('training.csv')
from google.colab import files

uploaded = files.upload()
df = pd.read_csv('training.csv')
  
print(df.shape)
df.head()

(95662, 16)

         TransactionId         BatchId  ... PricingStrategy FraudResult
0  TransactionId_76871   BatchId_36123  ...               2           0
1  TransactionId_73770   BatchId_15642  ...               2           0
2  TransactionId_26203   BatchId_53941  ...               2           0
3    TransactionId_380  BatchId_102363  ...               2           0
4  TransactionId_28195   BatchId_38780  ...               2           0

[5 rows x 16 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
TransactionId           95662 non-null object
BatchId                 95662 non-null object
AccountId               95662 non-null object
SubscriptionId          95662 non-null object
CustomerId              95662 non-null object
CurrencyCode            95662 non-null object
CountryCode             95662 non-null int64
ProviderId              95662 non-null object
ProductId               95662 non-null object
ProductCategory         95662 non-null object
ChannelId               95662 non-null object
Amount                  95662 non-null float64
Value                   95662 non-null int64
TransactionStartTime    95662 non-null object
PricingStrategy         95662 non-null int64
FraudResult             95662 non-null int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

In [6]:
df.describe()

       CountryCode        Amount         Value  PricingStrategy   FraudResult
count      95662.0  9.566200e+04  9.566200e+04     95662.000000  95662.000000
mean         256.0  6.717846e+03  9.900584e+03         2.255974      0.002018
std            0.0  1.233068e+05  1.231221e+05         0.732924      0.044872
min          256.0 -1.000000e+06  2.000000e+00         0.000000      0.000000
25%          256.0 -5.000000e+01  2.750000e+02         2.000000      0.000000
50%          256.0  1.000000e+03  1.000000e+03         2.000000      0.000000
75%          256.0  2.800000e+03  5.000000e+03         2.000000      0.000000
max          256.0  9.880000e+06  9.880000e+06         4.000000      1.000000

In [7]:
class_names = {0:'Not Fraud', 1:'Fraud'}
print(df.FraudResult.value_counts().rename(index = class_names))

Not Fraud    95469
Fraud          193
Name: FraudResult, dtype: int64

In [0]:
from sklearn import preprocessing
for X in df.columns:
    if df[X].dtype == type(object):
        le = preprocessing.LabelEncoder()
        df[X] = le.fit_transform(df[X])

In [0]:
# Lables
y = df['FraudResult']

# Features
X = df.drop(['FraudResult', 'PricingStrategy'], axis=1)

In [10]:
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
 
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.70, test_size=0.30, random_state=42,shuffle = True)
print("Length of X_train is: {X_train}".format(X_train = len(X_train)))
print("Length of X_test is: {X_test}".format(X_test = len(X_test)))
print("Length of y_train is: {y_train}".format(y_train = len(y_train)))
print("Length of y_test is: {y_test}".format(y_test = len(y_test)))

Length of X_train is: 66963
Length of X_test is: 28699
Length of y_train is: 66963
Length of y_test is: 28699

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [12]:
lm = LogisticRegression().fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [13]:
lm.intercept_[0]

-9.388214566270868e-05

In [0]:
pred_lm = lm.predict(X_test)

In [15]:
confusion_matrix(y_test, pred_lm)

array([[28629,    14],
       [   42,    14]])

In [16]:
labels = ['No Fraud', 'Fraud']

pd.DataFrame(data=confusion_matrix(y_test, pred_lm), index=labels, columns=labels)

          No Fraud  Fraud
No Fraud     28629     14
Fraud           42     14

In [0]:
from sklearn.metrics import classification_report

In [18]:
print('Classification Report')
print(classification_report(y_test, pred_lm, target_names=['No Fraud', 'Fraud']))

Classification Report
              precision    recall  f1-score   support

    No Fraud       1.00      1.00      1.00     28643
       Fraud       0.50      0.25      0.33        56

    accuracy                           1.00     28699
   macro avg       0.75      0.62      0.67     28699
weighted avg       1.00      1.00      1.00     28699